body{
    background: linear-gradient(60deg,#7A13E8,rgb(20,20,20));
}
.cabecalho{
    background: transparent;
}
.carousel-caption{
    background-color: rgba(50, 50, 50, 0.65);
}
footer .col-6 > a > img{
    height: 5vh;
}
footer .col-6 > img{
    height: 6vh;
}